/* Блочна модель

Це теоретичне уявлення про елементи. Це представлення елемента як сукупності:
розміру контенту 
внутрішніх відступів (padding)
рамки (border)
зовнішніх відступів (margin)



Block (блочний елемент) займає весь рядок. І на нього розповсюджується блочна модель
Inline (інлайнові елементи) встають поряд одне з одним, рамки відпрацьовують коректно, а відступи працюють тільки по горизонталі (зліва-справа)

Inline-block (інлайн-блочні елементи) - це елементи, які стають поряд одне з одним, як інлайнові, але на них коректно відпрацьовує блочна модель



Властивість display змінює принцип відображення елемента 


Розміри
За замовчуванням вказані розміри блочного елементи - це розміри його контенту всередині
box-sizing: content-box  -- це за замовчуванням
box-sizing: border-box -- в вказану ширину додаються внутрішні відступи і ширина рамки
    (при цьому місце під ширину контенту зменшується, а коробка розтягується донизу
*/

.box {
    width: 200px;
    /* border-width: 3px;
    border-style: solid;
    border-color: black; */
    border: 3px solid black;
    padding: 20px;
    margin: 20px;
    display: block;
    box-sizing: border-box;
}


/*
Двох блочних елементів зовнішні margin при зустрічі не додаються одне до одного, а "схлопуються", тобто залишається тільки один найбільший відступ

*/


span {
    color: green;
    border: 3px solid black;
    padding: 40px;
    margin: 20px;
    display: block;
}


/*
Властивості padding, margin

// Варіант "чотири значення"
padding: 10px 20px 30px 40px;
    top: 10px
    right: 20px
    bottom: 30px
    left: 40px

// Варіант "три значення"
padding: 10px 20px 30px;
    top: 10px
    right: 20px
    bottom: 30px
    left: 20px

// Варіант "два значення"
padding: 10px 20px;
    top: 10px
    right: 20px
    bottom: 10px
    left: 20px


// Варіант "одне значення"
padding: 10px;
    top: 10px
    right: 10px
    bottom: 10px
    left: 10px

*/